.view {
    margin-top: 30px;
}

.info-view-container {
    width: 100%;
}

.info-view {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.info-view h2 {
    font-size: var(--size-text);
    width: 20%;
}

.info-view p {
    font-size: var(--size-text1);
    text-align: justify;
    width: 80%;
}

.info-view p a {
    color: var(--color-letter);
}

.info-extra {
    padding: 20px 0;
    border-top: 1px solid;
}

.info-extra h2 {
    font-size: var(--size-paragraph);
}


.message-style{
    background: var(--color-one);
    color: aliceblue;
}


.btn-danger{
    margin: 0 10px;
}
