/* Estilos globales, para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 10px;
    --letter: "Roboto", sans-serif;

    --color-white: #FFFF;
    --color-one: #446ADB;
    --color-two: #8044DB;
    --color-three: #4F46DB;
    --color-four: #449ADB;
    --color-five: #B144DB;
    --color-six: #0e152b;

    --color-black: #000000;
    --color-red: #c93131;
    --color-switch: #2e30309f;
    --color-body: #FFFF;
    --color-letter: #000000;

    --size-paragraph: 20px;
    --size-text: 16px;
    --size-text1: 12px;

    --color-error: #f5b7b1;
    --background-success: #28b463;
    --color-success: #82e0aa;
}

/* Tema Oscuro */
[theme="dark-mode"] {
    --color-one: #273746;
    --color-six: #212529;
    --color-four: var(--color-six);

    --color-switch: #FFFF;
    --color-body: #000000;
    --color-letter: #FFFF;
}
/* Tema azul */
[theme="blue-mode"] {
    --color-one: #2E86C1;
    --color-six: #0E2635;
    --color-four: var(--color-six);
    --color-switch: #FFFFFF;
    --color-body: #EAF2F8;
    --color-letter: #000000;
}
/* Tema marron */
[theme="law-mode"] {
    --color-one: #8b5e3cd0;
    --color-six: #25180e;
    --color-four: var(--color-seven);
    --color-switch: #F9F6F2;
    --color-body: #F4EDE3;
    --color-letter:  #000000;
}
/* Tema verde */
[theme="green-mode"] {
    --color-one: #28B463;
    --color-six: #092716;
    --color-four: var(--color-six);
    --color-switch: #FFFFFF;
    --color-body: #E9F7EF;
    --color-letter: #000000;
}

body {
    background: var(--color-body);
}

h2 {
    font-size: 25px;
    color: var(--color-letter);
}

p {
    font-size: var(--size-text);
    color: var(--color-letter);
}

a {
    color: var(--color-letter);
}

h2 {
    font-size: 25px;
}

/* Estilos lado derecho */
.info {
    overflow-x: auto;
    margin-top: 20px;
    position: relative;
}

.notify-options {
    overflow-y: auto;
    overflow-x: hidden;
}

.info::-webkit-scrollbar,
.notify-options::-webkit-scrollbar {
    width: 10px;
}

.container nav::-webkit-scrollbar {
    width: 5px;
}


.info::-webkit-scrollbar-track,
.container nav::-webkit-scrollbar-track,
.notify-options::-webkit-scrollbar-track {
    background: var(--color-body);
    border-radius: 5px;
}

.notify-options::-webkit-scrollbar-track {
    background: var(--color-six);
}

.container nav::-webkit-scrollbar-track {
    background: var(--color-six);
}

.info::-webkit-scrollbar-thumb,
.container nav::-webkit-scrollbar-thumb,
.notify-options::-webkit-scrollbar-thumb {
    background: var(--color-one);
    border-radius: 5px;
}

/* Estilos Menu Info */
.options {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-white);
    background: var(--color-six);
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options ul {
    position: absolute;
    right: 0;
    top: 30px;
    background: var(--color-six);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style: none;
    width: max-content;
    display: none;
}

.options ul li {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--letter);
    font-size: var(--size-text1);
}

.options ul li:hover {
    background: var(--color-one);
}

.options:hover {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.options:hover ul {
    display: block;
}

/* Estilos tabla */
table {
    width: 100%;
    font-size: 12px;
    margin: 0;
}

.table { /* Quitar la margen que ofrece bootstrap */
    margin: 0;
}

table td,
table tr {
    vertical-align: middle;
    text-align: center;
}

table img {
    width: 30px;
}

table i {
    color: var(--color-button-close);
    cursor: pointer;
}

table a {
    color: var(--color-letter);
}

table a.fa-solid {
    text-decoration: none;
}

/* Estilos formulario */
form p {
    margin-left: 30px;
    font-size: var(--size-text);
}

.form-items,
.add-lawyer-confirm {
    margin: 30px;
    display: flex;
    gap: 10px;
}

.add-lawyer-confirm {
    align-items: center;
}

.add-lawyer-confirm p {
    margin: 0;
    font-size: 14px;
}

.form-item {
    width: 100%;
}

.form-item label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-letter);
    font-size: var(--size-text1);
}

.form-item input,
.form-item button,
.form-item select,
.form-item textarea,
.add-comment input {
    width: 100%;
    height: 30px;
    background: var(--color-body);
    padding: 0 10px;
    border: 1px solid var(--color-one);
    border-radius: 10px;
    font-size: var(--size-text1);
    color: var(--color-letter);
}

.form-item textarea {
    resize: none;
    overflow: hidden;
    height: auto;
    padding: 10px;
}

.form-item button,
.add-comment button {
    background: var(--color-one);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}

.form-item .form-input {
    position: relative;
}

.form-item .form-input .status-form {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    border-bottom-right-radius: var(--border);
    border-top-right-radius: var(--border);
    padding: 0 5px;
}

.status-form .status-info {
    position: absolute;
    right: 0px;
    bottom: 16px;
    width: max-content;
    padding: 5px 10px;
    border-radius: var(--border);
    display: none;
}

.form-item .form-input .status-form.success,
.status-form .status-info.success {
    background: var(--background-success);
    color: var(--color-success);
}

.form-item .form-input .status-form.error,
.status-form .status-info.error {
    background: var(--color-red);
    color: var(--color-error);
}

.form-item .form-input .status-form:hover .status-info {
    display: block;
}

.form-item .form-input .status-form.hide {
    display: none;
}

.message-submit {
    font-family: 'Roboto', sans-serif;
    background: var(--color-red);
    padding: 5px 10px;
    border-radius: var(--border);
    color: var(--color-error);
    margin: 0 30px;
}
