/* Estilos globales, para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 10px;
    --letter : "Roboto", sans-serif;

    --color-white: #FFFF;
    --color-one: #446ADB;
    --color-two: #8044DB;
    --color-three: #4F46DB;
    --color-four: #449ADB;
    --color-five: #B144DB;
    --color-six: #05061A;

    --color-black: #000000;
    --color-red: #c93131;
    --color-switch: #2e30309f;
    --color-body : #FFFF;
    --color-letter: #000000;

    --size-paragraph: 20px;
    --size-text: 16px;
    --size-text1 : 12px;
}

/* Tema Oscuro */
[theme="dark-mode"] {
    --color-one: #273746;
    --color-six: #212529;

    --color-switch: #FFFF;
    --color-body: #000000;
    --color-letter: #FFFF;
}

body {
    background: var(--color-body);
}

h2 {
    font-size: 25px;
    color: var(--color-letter);
}

p {
    font-size: var(--size-text);
    color: var(--color-letter);
}

h2 {
    font-size: 25px;
}

/* Estilos lado derecho */
.info {
    overflow-x: auto;
    margin-top: 20px;
}

.info::-webkit-scrollbar {
    width: 10px;
}


.info::-webkit-scrollbar-track {
    background: var(--color-body);
    border-radius: 5px;
}


.info::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 5px;
}

/* Estilos tabla */
table {
    width: 100%;
    font-size: 12px;
    margin: 0;
}

table td,
table tr {
    vertical-align: middle;
    text-align: center;
}

table img {
    width: 30px;
}

table i {
    color: var(--color-button-close);
    cursor: pointer;
}

/* Estilos formulario */
form p {
    margin-left: 30px;
    font-size: var(--size-text);
}

.form-items {
    margin: 30px;
    display: flex;
    gap: 10px;
}

.form-item {
    width: 100%;
}

.form-item label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-letter);
    font-size: var(--size-text1);
}

.form-item input,
.form-item button,
.form-item select {
    width: 100%;
    height: 30px;
    background: var(--color-body);
    padding: 0 10px;
    border: 1px solid var(--color-one);
    border-radius: 10px;
    font-size: var(--size-text1);
    color: var(--color-letter);
}

.form-item  button {
    background: var(--color-one);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}