<h2>Nuevo Abogado</h2>
<div class="info" id="info">
    <form>
        <p>Datos Abogado</p>
        <div class="form-items">
            <div class="form-item">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre"
                    [(ngModel)]="data.nombre">
            </div>
            <div class="form-item">
                <label for="correo">Correo</label>
                <input type="text" name="correo" id="correo"
                    [(ngModel)]="data.correo">
            </div>
        </div>
        <div class="form-items">
            <div class="form-item">
                <label for="tipo_documento">Tipo Documento</label>
                <select name="tipo_documento" id="tipo_documento" [(ngModel)]="data.tipo_documento">
                    <option value="Cedula Ciudadania">Cedula Ciudadania</option>
                    <option value="Cedula Extranjera">Cedula Extranjera</option>
                    <option value="Tarjeta Identidad">Tarjeta Identidad</option>
                    <option value="Permiso Permanencia">Permiso Permanencia</option>
                </select>
            </div>
            <div class="form-item">
                <label for="documento">Documento</label>
                <input type="text" name="documento" id="documento"
                    [(ngModel)]="data.documento">
            </div>
        </div>
        <div class="form-items">
            <div class="form-item">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" id="telefono"
                    [(ngModel)]="data.telefono">
            </div>
            <div class="form-item">
                <label for="especialidad">Especialidad</label>
                <select name="especialidad" id="especialidad" [(ngModel)]="data.especialidad">
                    <option value="Penal">Penal</option>
                    <option value="Civil">Civil</option>
                    <option value="Familiar">Familiar</option>
                    <option value="Laboral">Laboral</option>
                    <option value="Corporativo o Mercantil">Corporativo o Mercantil</option>
                    <option value="Fiscal o Tributario">Fiscal o Tributario</option>
                    <option value="Inmobiliario">Inmobiliario</option>
                    <option value="Internacional">Internacional</option>
                    <option value="Ambiental">Ambiental</option>
                    <option value="Intelectual">Intelectual</option>
                    <option value="Seguros">Seguros</option>
                    <option value="Administrativo">Administrativo</option>
                </select>

            </div>
        </div>
        <p>Datos Usuario</p>
        <div class="form-items">
            <div class="form-item">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario"
                    [(ngModel)]="data.usuario.nombre">
            </div>
            <div class="form-item">
                <label for="clave">Clave</label>
                <input type="password" name="clave" id="clave"
                    [(ngModel)]="data.usuario.clave">
            </div>
        </div>
        <div class="form-items" style="justify-content: center;">
            <div class="form-item" style="width: 50%;">
                <button (click)="save()">Guardar</button>
            </div>
        </div>
    </form>
</div>
