<h2>{{title}}</h2>
<div class="info" id="info">
    <form [formGroup]="form">
        <p>Datos Del Caso</p>
        <div class="form-items">
            <div class="form-item">
                <label for="nameCase">Nombre</label>
                <div class="form-input">
                    <input type="text" name="nameCase" id="nameCase"
                        formControlName="nameCase" [readOnly]="rolUser === 'Abogado'">
                    <div class="status-form"
                        [ngClass]="{'hide' : !isNameValidation, 'error' : !isValidName, 'success' : isValidName }">
                        <i class="fa-solid"
                            [ngClass]="{'fa-xmark' : !isValidName, 'fa-check' : isValidName }"></i>
                        <p class="status-info"
                            [ngClass]="{'error' : !isValidName, 'success' : isValidName }">{{nameMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <label for="typeCase">Tipo</label>
                <select name="typeCase" id="typeCase"
                    formControlName="typeCase" *ngIf="rolUser === 'Administrador'">
                    <option value="Penal">Penal</option>
                    <option value="Civil">Civil</option>
                    <option value="Familiar">Familiar</option>
                    <option value="Laboral">Laboral</option>
                    <option value="Corporativo o Mercantil">Corporativo o
                        Mercantil</option>
                    <option value="Fiscal o Tributario">Fiscal o
                        Tributario</option>
                    <option value="Inmobiliario">Inmobiliario</option>
                    <option value="Internacional">Internacional</option>
                    <option value="Ambiental">Ambiental</option>
                    <option value="Intelectual">Intelectual</option>
                    <option value="Seguros">Seguros</option>
                    <option value="Administrativo">Administrativo</option>
                </select>
                <input type="text" formControlName="typeCase" readonly *ngIf="rolUser === 'Abogado'">
            </div>
        </div>
        <div class="form-items">
            <div class="form-item">
                <label for="descriptionCase">Descripción</label>
                <textarea name="descriptionCase" id="descriptionCase"
                    rows="3" formControlName="descriptionCase" [readOnly]="rolUser === 'Abogado'"></textarea>
            </div>
        </div>
        <div class="form-items">
            <div class="form-item">
                <label for="dateInitCase">Fecha Inicio</label>
                <input type="date" name="dateInitCase" id="dateInitCase"
                    formControlName="dateInitCase" [readOnly]="rolUser === 'Abogado'">
            </div>
            <div class="form-item">
                <label for="dateEndCase">Fecha Cierre</label>
                <input [type]="inputType" name="dateEndCase" id="dateEndCase"
                    formControlName="dateEndCase" [value]="inputValue"
                    [readOnly]="readonly">
            </div>
            <div class="form-item">
                <label for="statusCase">Estado</label>
                <select name="statusCase" id="statusCase"
                    formControlName="statusCase">
                    <option value="Abierto">Abierto</option>
                    <option value="Re Abierto">Re Abierto</option>
                    <option value="Cerrado">Cerrado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
        </div>
        <p>Cliente</p>
        <div class="form-items">
            <div class="form-item" *ngIf="rolUser === 'Administrador'">
                <label for="nameCli">Nombre</label>
                <div class="search-bar">
                    <input type="text" name="nameCli" id="nameCli"
                        [formControl]="nameClientControl">
                    <ul *ngIf="showSearchClient">
                        <li *ngFor="let customer of dataClient"
                            (click)="selectClient(customer.idClient, customer.documentClient, customer.nameClient)">
                            {{customer.documentClient}} -
                            {{customer.nameClient}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-item">
                <label>{{rolUser === 'Abogado' ? 'Datos' : 'Cliente Seleccionado'}}</label>
                <input type="text" formControlName="nameClientSelect"
                    readonly autocomplete="off">
                <input type="hidden" formControlName="idClient">
            </div>
        </div>
        <span *ngIf="rolUser === 'Administrador'">
            <div class="add-lawyer-confirm" *ngIf="edit">
                <input type="checkbox" name="" #confirm formControlName="confirmLawyer">
                <p>¿Desea realizar modificaciones a los abogados asignados? Si no se marca la opción, no se guardaran cambios con respecto a los abogados.</p>
            </div>
        </span>
        <div class="lawyer-add" *ngIf="rolUser === 'Administrador'">
            <p>Asignar Abogados</p>
            <div>
                <button (click)="addLawyer()" data-toggle="tooltip"
                    data-placement="left" title="Agregar Abogado">+</button>
                <button (click)="removeLawyer()" data-toggle="tooltip"
                    data-placement="left"
                    title="Eliminar Ultimo Abogado">-</button>
            </div>
        </div>
        <div formArrayName="lawyers">
            <div *ngFor="let lawyer of lawyers.controls; let i = index"
                [formGroupName]="i">
                <p>Abogado {{i + 1}}</p>
                <div class="form-items">
                    <div class="form-item" *ngIf="rolUser === 'Administrador'">
                        <label for>Nombre</label>
                        <div class="search-bar">
                            <input type="text" id="nameLawyer-{{i}}"
                                formControlName="nameLawyer"
                                (focus)="onNameChange(i)">
                            <ul *ngIf="showSearchLawyer && openLawyer == i">
                                <li *ngFor="let lawyer of dataLawyerList"
                                    (click)="selectLawyer(lawyer.idLawyer, lawyer.documentLawyer, lawyer.nameLawyer, i)">
                                    {{lawyer.documentLawyer}} -
                                    {{lawyer.nameLawyer}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>{{rolUser === 'Abogado' ? 'Datos' : 'Abogado Seleccionado'}}</label>
                        <input type="text" id="selectLawyer-{{i}}"
                            formControlName="selectLawyer" readonly>
                        <input type="hidden" id="idLawyer-{{i}}"
                            formControlName="idLawyer">
                    </div>
                </div>
            </div>
        </div>
        <p class="message-submit" *ngIf="messageSubmit">{{ messageSubmit }}</p>
        <div class="form-items" style="justify-content: center;">
            <div class="form-item" style="width: 50%;">
                <button (click)="save()">Guardar</button>
            </div>
        </div>
    </form>

</div>
