/* Estilos header (Encabezado) */

header {
    font-family: var(--letter);
    padding: 10px 20px;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 30;
    color: var(--color-white);
    background: var(--color-one);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: var(--size-paragraph);
    color: var(--color-white);
}

.header-extra {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}

.header-extra .extra-color {
    font-size: var(--size-text1);
}

.header-extra .extra-color .right {
    margin-left: -5px;
}

/* Estilos Input Busqueda */

.search {
    position: relative;
    width: 33%;
}

.search input {
    width: 100%;
    border-radius: var(--border);
    border: none;
    padding: 0 23px;
    font-size: var(--size-text);
    font-family: var(--letter);
}

.search input::placeholder {
    font-family: var(--letter);
    font-size: var(--size-text);
}

.search i {
    position: absolute;
    top: 4px;
    right: 6px;
    color: var(--color-black);
}


/* Estilos para el contenedor principal */
.theme-container,
.notify-container {
  position: relative;
  display: inline-block;
}

/* Muestra el contenedor cuando `showThemeOptions` esté activo */
.theme-container.active .theme-options,
.notify-container.active .notify-options {
    display: block;
}

/* Estilos para el contenedor de opciones de tema */
.theme-options,
.notify-options {
    display: none;
    position: absolute;
    background-color: var(--color-six);
    width: 200px;
    z-index: 1000;
    top: 47px;
    right: 0;
}

.notify-options {
    width: 400px;
    min-height: 100px;
    max-height: 500px;
}

/* Mostrar el contenedor de opciones de tema cuando esté activo */
.theme-container.show .theme-options {
  display: block;
}

.theme-options p,
.notify-options h2 {
    margin: 5px;
    padding: 5px 5px;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: var(--size-text);
}

/* Estilos para los labels y checkboxes */
.theme-options label {
    display: block;
    font-size: var(--size-text);
    cursor: pointer;
    color: var(--color-white);
    padding: 10px;
    width: 100%;
    text-align: right;
    transition: all .5s;
}

.theme-options label:hover {
    background: var(--color-one);
}

.theme-options input[type="checkbox"] {
    display: none;
}

#date-actual {
    padding: 4px 10px;
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
    font-size: var(--size-text1);
    min-width: 135px;
    text-align: center;
}

.sign-out,
.theme-button,
.notify-button {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify-button {
    position: relative;
}

.count-notify {
    margin: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    background: var(--color-red);
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sign-out i,
.theme-button i,
.notify-button i {
    color: var(--color-white);
    text-decoration: none;
    font-size: 18px;
}

.sign-out:hover,
.theme-button:hover,
.notify-button:hover {
    background: var(--color-six);
    border-radius: 50%;
}

/* Notificaciones */

.notify-list {
    padding: 10px;
    font-family: var(--letter);
    cursor: pointer;
    transition: all .5s;
}

.notify-list h3 {
    font-size: var(--size-text);
    font-weight: normal;
    color: var(--color-white);
}

.notify-list p {
    font-size: var(--size-text1);
    color: var(--color-white);
}

.time-notify {
    text-align: right;
    opacity: .5;
}

.notify-list:hover {
    background: var(--color-one);
}

/* Estilos contenedor (Nav y Article) */

.container {
    margin: 0;
    padding: 0;
    padding-top: 64px;
    max-width: none;
    position: relative;
}

.container .message-success {
    position: absolute;
    z-index: 9999;
    color: var(--color-success);
    top: 55px;
    right: 6px;
    background: var(--background-success);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: var(--size-text);
    transition: clip-path .5s;
    clip-path: inset(0 0 0 100%);
    font-family: var(--letter);
}

.container .message-success.show {
    clip-path: inset(0 0 0 0);
}

/* Estilos barra de navegación */

.container nav {
    height: -webkit-fill-available;
    position: fixed;
    background: var(--color-six);
    border-top: 1px solid var(--color-body);
    transition: all .5s;
    z-index: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
}

.container nav.open {
    width: 200px;
    overflow-y: auto;
}

.container nav.close {
    width: 30px;
}

.container nav .btn-menu {
    display: flex;
    justify-content: flex-end;
}

.container nav .btn-menu i {
    padding: 8px;
    background: var(--color-six);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    color: var(--color-white);
}

.container .user {
    color: var(--color-white);
    padding: 15px 0px;
    border-radius: 5px;
    font-weight: var(--weight-text);
    font-family: var(--letter);
    margin: 0 20px;
    font-size: 13px;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
    object-fit: cover;
}

.container nav.close .user,
.container nav .menu-icon,
.container nav.close .menu-name,
.container nav.close .menu-arrow,
.container nav .menu-hide {
    display: none;
}

.container .user img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

ul.menu,
ul.menu-nesting {
    padding-left: 0;
    font-weight: var(--weight-text);
}

.menu {
    margin-top: 40px;
    transition: all .5s;
}

.menu-item {
    list-style: none;
    position: relative;
    height: 100%;
    --transform: rotate(0);
    overflow: hidden;
}

.menu-item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(90deg);
}

.menu-item--active {
    --transform: rotate(90deg);
    --background: var(--color-one);
}

.menu-item--show {
    background: var(--background);
}

.menu-link {
    color: var(--color-white);
    text-decoration: none;
    padding: 15px 0;
    padding-left: 20px;
    display: flex;
    height: auto;
    align-items: center;
    font-size: var(--size-text1);
    font-family: var(--letter);
}

.container nav.close .menu-item {
    --clip: polygon(0 0, 0 1%, 0 100%, 0% 100%);
    position: relative;
    width: 100%;
    overflow: visible;
}

.container nav.close .menu-item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-title {
    background: var(--color-one);
    font-size: var(--size-text);
    padding: 10px;
    margin: 0;
    font-weight: 500;
    border-top-right-radius: 5px;
    color: var(--color-white);
}

.container nav.close .menu-nesting {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    transition: clip-path .3s;
    clip-path: var(--clip);
    transform: translateX(100%);
    height: max-content !important;
    background: var(--color-one);
    border-top-right-radius: 5px;
    z-index: 99;
}

.container nav.close .menu-icon,
.container nav.close .menu-hide {
    display: block;
}

.container nav.close .menu-link {
    padding-left: 9px;
}

.menu-link--inside {
    background: var(--color-six);
}

.menu-link:hover {
    background: var(--color-one);
}

.menu-nesting {
    height: 0;
    transition: height .3s;
}

.menu-arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: auto;
    margin-right: 20px;
}

.operations {
    margin-left: 205px;
    margin-right: 5px;
    font-family: var(--letter);
    transition: all .5s;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

/* Colapsar Menu */

.operations.collapse {
    margin-left: 35px;
}

/* Estilos Resultados de Busqueda */
.search .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: var(--border);
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
}

.search .search-results ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: var(--size-text1);
}

.search p {
    color: #000000;
    margin: 10px 5px;
    font-weight: bold;
}

.search li {
    padding: 5px;
    cursor: pointer;
    color: #000000;
}

.search li:hover {
    background-color: #f0f0f0;
}
