<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <header *ngIf="showMenu">
      <h1>Abogados Valbuena</h1>
      <section class="search">
        <input type="text" name="search" id="search"
          [formControl]="searchControl" placeholder="Buscar..." autocomplete="off" (blur)="closeSearch()">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div *ngIf="showResults" class="search-results">
          <ul *ngIf="showCase">
            <p>Casos</p>
            <li *ngFor="let case of dataCase" (click)="redirectResult('case', case.idCase)">
              {{case.nameCase}}
            </li>
          </ul>
          <ul *ngIf="showCustomer">
            <p>Clientes</p>
            <li *ngFor="let customer of dataCustomer" (click)="redirectResult('customer', customer.idClient)">
              {{customer.documentClient}} - {{customer.nameClient}}
            </li>
          </ul>
          <ul *ngIf="showLawyer">
            <p>Abogados</p>
            <li *ngFor="let lawyer of dataLawyer" (click)="redirectResult('lawyer', lawyer.idLawyer)">
              {{lawyer.documentLawyer}} - {{lawyer.nameLawyer}}
            </li>
          </ul>
        </div>
      </section>
      <section class="header-extra">
        <div class="notify-container" [class.active]="showNotify">
          <div class="notify-button" (click)="toggleNotifyOptions()">
            <i class="fa-solid fa-bell" data-toggle="tooltip"
          data-placement="right" title="Notificaciones"></i>
          <p class="count-notify" *ngIf="countNotify > 0"><span>{{countNotify > 99 ? "+99" : countNotify}}</span></p>
          </div>
          <div *ngIf="showNotify" class="notify-options">
            <h2>Notificaciones</h2>
            <div *ngIf="dataNotify.length > 0">
              <div *ngFor="let notify of dataNotify" [routerLink]="notify.urlNotify" class="notify-list">
                <h3>{{notify.userRegister}} realizo una actualización</h3>
                <p>{{notify.descriptionNotify}}</p>
                <p class="time-notify">{{notify.dateRegister}}</p>
              </div>
            </div>
            <div *ngIf="dataNotify.length <= 0">
              <p style="padding: 10px; text-align: center;">Sin notificaciones</p>
            </div>
          </div>
        </div>
        <div class="theme-container" [class.active]="showThemeOptions">
          <i (click)="toggleThemeOptions()" class="fa-solid fa-palette theme-button" data-toggle="tooltip"
          data-placement="right" title="Cambiar Temas"></i>
          <div *ngIf="showThemeOptions" class="theme-options">
            <p>Cambiar Temas</p>
            <label>
              <input
                type="checkbox"
                (change)="changeTheme('default')"
                [checked]="themes['default']"
              />
              Azul
            </label>
            <label>
              <input
                type="checkbox"
                (change)="changeTheme('blue-mode')"
                [checked]="themes['blue-mode']"
              />
              Azul Claro
            </label>
            <label>
              <input
                type="checkbox"
                (change)="changeTheme('law-mode')"
                [checked]="themes['law-mode']"
              />
              Marron
            </label>
            <label>
              <input
                type="checkbox"
                (change)="changeTheme('green-mode')"
                [checked]="themes['green-mode']"
              />
              Verde
            </label>
            <label>
              <input
                type="checkbox"
                (change)="changeTheme('dark-mode')"
                [checked]="themes['dark-mode']"
              />
              Oscuro
            </label>
          </div>
        </div>
        <span id="date-actual">{{ date_actual | date : 'dd-MM-yyyy HH:mm:ss'
          }}</span>
        <a class="sign-out" href="#" data-toggle="tooltip"
          data-placement="right" title="Cerrar Sesión" (click)="closeSesion()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </section>
    </header>
    <div class="container" *ngIf="showMenu">
      <div class="message-success" [ngClass]="{'show' : isMessageSuccess}">{{messageSuccess}}</div>
      <nav class="open">
        <div class="btn-menu"><i class="fa-solid fa-chevron-left"
            id="collapse-menu" (click)="collapseMenu()"></i></div>
        <p class="user" [routerLink]="[idRedirect]">
          <img
            src="assets/no-user.webp" alt="">
          {{nameUser}}
        </p>
        <ul class="menu">
          <!-- Inicio -->
          <li class="menu-item menu-item--show">
            <a class="menu-link menu-close"><span
                class="fa-solid fa-house menu-icon"></span><span
                class="menu-name">Inicio</span><i
                class="fa-solid fa-chevron-right menu-arrow"></i></a>
            <ul class="menu-nesting">
              <li class="menu-inside menu-hide">
                <p class="menu-title">Inicio</p>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/home']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-house"
                    style="margin-right: 8px;"></i>Inicio</a>
              </li>
            </ul>
          </li>
          <!-- Usuario -->
          <li class="menu-item menu-item--show" *ngIf="rolUser === 'Administrador'">
            <a class="menu-link menu-close"><span
                class="fa-solid fa-user menu-icon"></span><span
                class="menu-name">Usuario</span><i
                class="fa-solid fa-chevron-right menu-arrow"></i></a>
            <ul class="menu-nesting">
              <li class="menu-inside menu-hide">
                <p class="menu-title">Usuario</p>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/list-users']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-user"
                    style="margin-right: 8px;"></i>Administrar</a>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/new-user']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-plus"
                    style="margin-right: 8px;"></i>Nuevo</a>
              </li>
            </ul>
          </li>
          <!-- Abogado -->
          <li class="menu-item menu-item--show" *ngIf="rolUser === 'Administrador'">
            <a class="menu-link menu-close"><span
                class="fa-solid fa-briefcase menu-icon"></span><span
                class="menu-name">Abogado</span><i
                class="fa-solid fa-chevron-right menu-arrow"></i></a>
            <ul class="menu-nesting">
              <li class="menu-inside menu-hide">
                <p class="menu-title">Abogado</p>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/list-lawyers']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-briefcase"
                    style="margin-right: 8px;"></i>Administrar</a>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/new-lawyer']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-plus"
                    style="margin-right: 8px;"></i>Nuevo</a>
              </li>
            </ul>
          </li>
          <!-- Cliente -->
          <li class="menu-item menu-item--show" *ngIf="rolUser === 'Administrador'">
            <a class="menu-link menu-close"><span
                class="fa-solid fa-user-shield menu-icon"></span><span
                class="menu-name">Cliente</span><i
                class="fa-solid fa-chevron-right menu-arrow"></i></a>
            <ul class="menu-nesting">
              <li class="menu-inside menu-hide">
                <p class="menu-title">Cliente</p>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/list-customers']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-user-shield"
                    style="margin-right: 8px;"></i>Administrar</a>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/new-customer']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-plus"
                    style="margin-right: 8px;"></i>Nuevo</a>
              </li>
            </ul>
          </li>
          <!-- Casos -->
          <li class="menu-item menu-item--show">
            <a class="menu-link menu-close"><span
                class="fa-solid fa-suitcase menu-icon"></span><span
                class="menu-name">Casos</span><i
                class="fa-solid fa-chevron-right menu-arrow"></i></a>
            <ul class="menu-nesting">
              <li class="menu-inside menu-hide">
                <p class="menu-title">Casos</p>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/list-cases']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-suitcase"
                    style="margin-right: 8px;"></i>Administrar</a>
              </li>
              <li class="menu-inside" *ngIf="rolUser === 'Administrador'">
                <a [routerLink]="['/new-case']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-plus"
                    style="margin-right: 8px;"></i>Nuevo</a>
              </li>
            </ul>
          </li>
          <!-- Documentos -->
          <li class="menu-item menu-item--show" *ngIf="rolUser !== 'Usuario'">
            <a class="menu-link menu-close"><span
                class="fa-solid fa-file-contract menu-icon"></span><span
                class="menu-name">Documento</span><i
                class="fa-solid fa-chevron-right menu-arrow"></i></a>
            <ul class="menu-nesting">
              <li class="menu-inside menu-hide">
                <p class="menu-title">Documento</p>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/list-document']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-suitcase"
                    style="margin-right: 8px;"></i>Administrar</a>
              </li>
              <li class="menu-inside">
                <a [routerLink]="['/new-document']"
                  class="menu-link menu-link--inside"><i
                    class="fa-solid fa-plus"
                    style="margin-right: 8px;"></i>Nuevo</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <article class="operations"
        id="operations"><router-outlet></router-outlet></article>
    </div>
    <div *ngIf="!showMenu"><router-outlet></router-outlet></div>
  </body>
</html>
