.login {
    --color-one: #446ADB;
    --color-four: #449ADB;
    --color-six: #05061A;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 80%;
    height: 80%;
    border-radius: var(--border);
    box-shadow: #000000 2px 1px 7px;
    overflow: hidden;
}
p {
    font-family: 'Roboto', sans-serif;
    background: var(--color-red);
    padding: 5px 10px;
    border-radius: var(--border);
    color: var(--color-error);
    margin: 0;
}

.login-card .left,
.login-card .right {
    display: flex;
    align-items: center;
    padding: 10px;
}

.login-card .left {
    background: var(--color-four);
    height: 100%;
    justify-content: center;
}

.login-card .left article {
    display: flex;
    flex-direction: column;
}

.login-card .left i {
    font-size: 100px;
    margin-top: 80px;
    color: var(--color-white);
    text-align: center;
}

.login-card .right {
    background: var(--color-six);
    height: 100%;
    padding: 7%;
}

h1 {
    font-family: var(--letter);
    font-size: var(--size-h1);
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
}

.form-zone {
    width: 100%;
}

form {
    width: 100%;
    margin-top: 40px;
}

.form-container {
    margin: 15px 0;
    width: 100%;
}

.form-container label {
    display: block;
    font-size: var(--size-text);
    color: var(--color-white);
    font-family: var(--letter);
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-white);
    height: 30px;
    margin-top: 15px;
    color: var(--color-white);
    padding: 0 20px;
    font-size: var(--size-text);
    font-family: var(--letter);
}

.form-container input.error {
    border-bottom: 1px solid var(--color-red);
}

.form-container button {
    width: 40%;
    height: 30px;
    border: 2px solid var(--color-one);
    border-radius: var(--border);
    background: var(--color-four);
    color: var(--color-white);
    transition: all .5s;
    margin-top: 15px;
    font-family: var(--letter);
    font-weight: bold;
}

.form-container button:hover {
    opacity: .9;
}

.remember {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    font-family: var(--letter);
}