<section class="login" style="background-image: url('assets/background.webp');">
    <section class="row login-card">
        <div class="col-4 left">
            <article>
                <h1>Abogados Valbuena</h1>
                <i class="fa-solid fa-gavel"></i>
            </article>
        </div>
        <div class="col-8 right">
            <div class="form-zone">
                <h1><i class="fa-solid fa-user"></i> Iniciar Sesión</h1>
                <form (ngSubmit)="onSubmitLogin()">
                    <div class="form-container">
                        <label>Usuario</label>
                        <input type="text" name="usuario" [(ngModel)]="session.name" #name [ngClass]="{'error': isFocusName}">
                    </div>
                    <div class="form-container">
                        <label>Clave</label>
                        <input type="password" name="password" id="" [(ngModel)]="session.password" #password [ngClass]="{'error': isFocusPassword}">
                    </div>
                    <div class="form-container">
                        <p *ngIf="resMessage">{{ resMessage }}</p>
                        <p *ngIf="errMessage">{{ errMessage }}</p>
                    </div>
                    <div class="form-container">
                        <div class="remember">
                            <input type="checkbox" name="remember" [(ngModel)]="remember" >
                            <label for="remember">Recuerda me</label>
                        </div>
                    </div>
                    <div class="form-container">
                        <button>Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>