
<h2>Nuevo Cliente</h2>

<div class="info" id="info">

    <form>
        <div class="form-item">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" [(ngModel)]="data.nombre">
        </div>
        <div class="form-item">
            <label for="direccion">Direccion</label>
            <input type="text" name="direccion" id="direccion"
                [(ngModel)]="data.direccion">
        </div>
        <div class="form-item">
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" id="telefono"
                [(ngModel)]="data.telefono">
        </div>
        <div class="form-item">
            <label for="correo">Correo</label>
            <input type="text" name="correo" id="correo"
                [(ngModel)]="data.correo">
        </div>
        <div class="form-item">
            <label for="tipo">Tipo</label>
            <input type="text" name="tipo" id="tipo"
                [(ngModel)]="data.tipo_cliente">

        </div>
        <div class="form-item">
            <button (click)="save()">Guardar</button>
        </div>
    </form>

</div>
