<section class="container-home">
    <img src="assets/FirmaAbogadosIcono.png" alt="Abogados Valbuena">
    <article>
        <h2>¡Bienvenidos!</h2>
        <p>Abogados a su orden: Johnny Gutierrez, Jhonatan Valbuena Y Javier Parra</p>
    </article>
</section>
<section class="container-services">
    <h2>Servicios</h2>
    <p>Procesos:</p>
    <ul>
        <li>Penales</li>
        <li>Civil - Familia</li>
        <li>Laborales</li>
        <li>Planes de Asesoría Jurídica Prepagada para empresas y pesona natural</li>
    </ul>
</section>