.view {
    margin-top: 30px;
}

.info-view-container {
    width: 100%;
}

.info-view {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.info-view h2 {
    font-size: var(--size-text);
    width: 20%;
}

.info-view p {
    font-size: var(--size-text1);
    text-align: justify;
    width: 80%;
}

.info-view p a {
    color: var(--color-letter);
}

.info-extra {
    padding: 20px 0;
    border-top: 1px solid;
}

.info-extra h2 {
    font-size: var(--size-paragraph);
}

.tab {
    display: flex;
}

.tab h2 {
    margin: 0;
    padding: 10px;
    border-top-left-radius: var(--border);
    border-top-right-radius: var(--border);
    cursor: pointer;
}

.tab h2.active {
    background: var(--color-one);
    color: var(--color-white);
}

.content-tab {
    padding: 10px;
    background: var(--color-one);
    border-top-right-radius: var(--border);
    border-bottom-left-radius: var(--border);
    border-bottom-right-radius: var(--border);
}

.content-tab.hide {
    display: none;
}

.comment {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-white);
    position: relative;
}

.comment p {
    color: var(--color-white);
}

.no-active {
    border-top-left-radius: var(--border);
}

.top-comment {
    display: flex;
    align-items: start;
    gap: 10px;
}

.top-comment img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.top-comment p {
    margin: 0;
    font-size: var(--size-text1);
}

.description-comment {
    margin: 0;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 14px;
}

.comment-options {
    position: absolute;
    right: 0;
    top: 15px;
    color: var(--color-white);
    cursor: pointer;
    font-weight: bold;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-options ul {
    position: absolute;
    right: 0;
    top: 30px;
    list-style: none;
    width: max-content;
    padding: 5px;
    background: var(--color-six);
    display: none;
    border-radius: var(--border);
    border-top-right-radius: 0;
    z-index: 9999;
}

.comment-options li {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--letter);
    font-size: var(--size-text1);
}

.comment-options li:hover {
    background: var(--color-one);
}

.comment-options:hover {
    background: var(--color-six);
    border-top-left-radius: var(--border);
    border-top-right-radius: var(--border);
}

.comment-options:hover ul {
    display: block;
}

.no-comment {
    margin: 0;
    padding: 10px;
    font-size: var(--size-text);
    font-family: var(--letter);
    text-align: center;
}

.add-comment {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.add-comment button {
    width: 150px;
    height: 30px;
    background: var(--color-six);
    border: 1px solid var(--color-six);
    border-radius: var(--border);
}

.add-comment button:disabled,
.disabled {
    opacity: .5;
    cursor: no-drop !important;
}

.is-important {
    color: var(--color-red);
    font-size: var(--size-text);
}

.comment-now {
    background: var(--background-success);
    padding: 0 10px;
    border-radius: var(--border);
}

.first {
    border-top: 1px solid var(--color-white);
}