<h2>Listado De Usuarios</h2>
<div class="info" id="info">
    <table class="table table-striped table-bordered"
        [ngClass]="{'table-dark' : isDarkMode}">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let model of data">
                <td>{{model.nameUser}}</td>
                <td>{{model.rolUser}}</td>
                <td>{{model.statusUser == 1 ? "Activo" : "Inactivo"}}</td>
            </tr>
        </tbody>
    </table>
</div>