<div class="info" id="info">
    <h2>{{data.nameUser}}</h2>
    <section class="view">
        <div class="info-view-container">
            <div class="info-view">
                <h2>Estado:</h2>
                <p>{{data.statusUser ? "Activo" : "Inactivo"}}</p>
            </div>
            <div class="info-view">
                <h2>Rol:</h2>
                <p>{{data.rolUser}}</p>
            </div>
            <div class="info-view">
                <h2>Registrado Por:</h2>
                <p>{{data.userRegister}}</p>
            </div>
            <div class="info-view">
                <h2>Fecha Registro</h2>
                <p>{{data.dateRegister}}</p>
            </div>
            <div class="info-view">
                <h2>Última Vez Actualizado Por:</h2>
                <p>{{data.userUpdate}}</p>
            </div>
            <div class="info-view">
                <h2>Fecha Última Actualización:</h2>
                <p>{{data.lastUpdate}}</p>
            </div>
        </div>
    </section>
</div>
