.view {
    display: flex;
    gap: 120px;
}

.view .name {
    text-align: center;
    width: 20%;
    margin: 10px;
}

.view .name img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--border);
}

.view .name p {
    margin-top: 30px;
    font-size: var(--size-text1);
}

.info-view-container {
    display: flex;
    width: 80%;
}

.info-view {
    width: 33%;
}

.info-view div {
    margin-bottom: 50px;
}

.info-view h2 {
    font-size: var(--size-text);
}

.info-view p {
    font-size: var(--size-text1);
}

.info-extra {
    padding: 20px 0;
    border-top: 1px solid;
}

.info-extra h2 {
    font-size: var(--size-paragraph);
}